@font-face {
    font-family: abster;
    src: url('font/abster-webfont.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* 화면 크기 변화에 따른 스크롤을 방지 */
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('images/배경화면2.jpg') no-repeat center center/cover;
    position: relative;
}

.header {
    width: 80%;
    height: 80px;
    position: absolute;
    top: 15px;
    left: 40px;
}

.header h1 a {
    text-decoration: none;
    color: white;
    font-family: abster;
}

/* 갱폼 위치, 고유번호 상자 */
.rectangle-box {
    width: 200px;
    height: 591px;
    background: #4A4A4A;
    border: none;
    position: absolute;
    top: 65px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0px; /* 버튼 간격 */
    overflow-y: auto;
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}

.현장이름-box,
.점검내역-box,
.공정진행내역-box,
.이벤트-box,
.점검필요알림-box,
.선택갱폼정보-box,
.갱폼공정현황-box,
.작업시간-box,
.근로자현황-box,
.타워크레인CCTV-box {
    background: #4A4A4A;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px; /* 텍스트 크기 */
    text-align: center; /* 텍스트 중앙 정렬 */
    position: absolute;
}

.현장이름-box {
    width: 460px;
    height: 50px;
    top: 65px;
    left: 250px;
    cursor: pointer; /* 클릭 가능하도록 커서 변경 */
}

.점검내역-box {
    width: 220px;
    height: 50px;
    top: 65px;
    left: 735px;
}

.공정진행내역-box {
    width: 220px;
    height: 50px;
    top: 65px;
    left: 975px;
}

.이벤트-box {
    width: 460px;
    height: 50px;
    top: 135px;
    left: 250px;
}

.점검필요알림-box {
    width: 460px;
    height: 50px;
    top: 135px;
    left: 735px;
}

.선택갱폼정보-box {
    width: 1250px;
    height: 50px;
    top: 205px;
    left: 250px;
    z-index: 2; /* 가장 위에 표시되도록 z-index 설정 */
}

.갱폼공정현황-box {
    width: 280px;
    height: 402px;
    top: 256px;
    left: 250px;
    z-index: 1; /* z-index 값 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* 한 열 */
    grid-template-rows: repeat(10, 1fr); /* 10개의 행 */
    width: 100%;
    height: 100%;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgb(40, 40, 42); /* 각 항목 구분 */
}

.작업시간-box {
    width: 280px;
    height: 400px;
    top: 256px;
    left: 550px;
    z-index: 1; /* z-index 값 설정 */
    line-height: 1.5; /* 줄 간격 조정 */
}

.작업시간-box input {
    background-color: #4A4A4A;
    border: none;
    color: white;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.작업시간-box label {
    margin-top: 10px;
    font-size: 18px;
}

.작업시간-box span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

.근로자현황-box {
    width: 650px;
    height: 400px;
    top: 256px;
    left: 850px;
    z-index: 1; /* z-index 값 설정 */
    line-height: 2.0; /* 줄 간격 조정 */
}

.타워크레인CCTV-box {
    width: 280px;
    height: 111px;
    display: flex;
    flex-direction: column; /* 수직 정렬을 위해 추가 */
    justify-content: space-between; /* 수직 방향으로 요소를 균등하게 배치 */
    align-items: center;
    top: 65px;
    left: 1220px;
    z-index: 1;
}

.타워크레인CCTV-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.타워크레인CCTV-box select,
.타워크레인CCTV-box button {
    width: 48%;
    padding: 10px;
    margin-top: 5px;
    background-color: #4A4A4A;
    color: white;
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    cursor: pointer;
}

.타워크레인CCTV-box button:hover {
    background-color: #575757;
}

#viewCCTVButton {
    width: 280px; /* 버튼 너비 설정 */
    height: 35px; /* 버튼 높이 설정 */
    font-size: 13px; /* 버튼 폰트 크기 설정 */
}

/* 스크롤바 스타일 */
.rectangle-box::-webkit-scrollbar {
    width: 8px;
}

.rectangle-box::-webkit-scrollbar-track {
    background: #4A4A4A;
    border-radius: 10px;
    margin: 10px 0;
}

.rectangle-box::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
    border: 2px solid #4A4A4A;
}

.rectangle-box::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.rectangle-box button {
    width: 100%;
    padding: 10px;
    background-color: #4A4A4A;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    text-align: center;
}

.rectangle-box button:hover {
    background-color: #575757;
}

.sub-buttons {
    display: none;
    flex-direction: column;
    width: 100%;
    max-height: 500px; /* 적당한 값으로 설정 */
    overflow-y: auto; /* 세로 스크롤바 활성화 */
    overflow-x: hidden; /* 가로 스크롤 숨김 */
    transition: max-height 0.3s ease-out;
}

/* 하위 버튼 스타일 */
.sub-buttons button {
    background-color: #4A4A4A;
}

/* 선택된 버튼 스타일 */
.sub-buttons button.selected {
    color: yellow;
}

/* 애니메이션 효과를 위한 클래스 */
.sub-buttons.show {
    display: flex;
    max-height: 500px; /* 적당한 값으로 설정 */
}

/* 하위 버튼의 스크롤바 스타일 */
.sub-buttons::-webkit-scrollbar {
    width: 8px;
}

.sub-buttons::-webkit-scrollbar-track {
    background: #4A4A4A;
    border-radius: 10px;
    margin: 10px 0;
}

.sub-buttons::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 10px;
    border: 2px solid #4A4A4A;
}

.siteNameInput {
    padding: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #4A4A4A;
    border: 1px solid #575757;
    border-radius: 5px;
    text-align: center;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* 박스들에 대한 hover 상태 스타일 추가 */
.현장이름-box:hover,
.점검내역-box:hover,
.공정진행내역-box:hover,
.이벤트-box:hover,
.점검필요알림-box:hover {
    background-color: #575757;
    color: white;
}

/* 공통 버튼 스타일 추가 */
button:hover {
    background-color: #575757;
    color: white;
}

.현장이름-box:hover,
.점검내역-box:hover,
.공정진행내역-box:hover,
.이벤트-box:hover,
.점검필요알림-box:hover {
    background-color: #575757;
    cursor: pointer;
}
